.content1{
    background: rgb(51, 51, 154);
    width: 800px;
    height: 400px;
    position: relative;
    left: 350px;
    border-radius: 20px;
}
.content1>h1{
    font-size: 40px;
    position: relative;
    left: 480px;
    top: 50px;
}
.content1>a>img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    left: 30px;
    bottom: 40px;
}
.content2>p{
    position: relative;
    left:870px;
    bottom: 300px;
    font-size: 50px;
}
.content3{
    position: relative;
    left: 800px;
    bottom: 270px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}